@page
@model AutoShopManager.Pages.Vehiculos.IndexModel
@{
	ViewData["Title"] = "Index Clientes";
}
		<h1>Index Vehiculo</h1>
	<p>
		<a asp-page="Create" class="btn btn-success">Create New</a>
	</p>
	<table class="table">
		<thead>
			<tr>
				<th>
				@Html.DisplayNameFor(model => model.Vehiculos[0].Placa)
				</th>
				<th>
				@Html.DisplayNameFor(model => model.Vehiculos[0].Marca)
				</th>
					<th>
				@Html.DisplayNameFor(model => model.Vehiculos[0].Modelo)
					</th>
					<th>
				@Html.DisplayNameFor(model => model.Vehiculos[0].ClienteId)
					</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
		@foreach (var item in Model.Vehiculos)
		{
							<tr>
								<td>
					@Html.DisplayFor(modelItem => item.Placa)
								</td>
								<td>
					@Html.DisplayFor(modelItem => item.Marca)
								</td>
										<td>
					@Html.DisplayFor(modelItem => item.Modelo)
										</td>
											<td>
					@Html.DisplayFor(modelItem => item.ClienteId)
											</td>
								<td>
									<a a asp-page="./Edit" asp-route-id="@item.Id" class= "btn btn-warning">Edit</a>
									<a a asp-page="./Delete" asp-route-id="@item.Id" class= "btn btn-danger">Delete</a>
								</td>

							</tr>
		}
		</tbody>
	</table>