@page
@model AutoShopManager.Pages.Reparaciones.IndexModel
@{
	ViewData["Title"] = "Index Reparaciones";
}
<h1>Index Reparaciones</h1>
	<p>
		<a asp-page="Create" class="btn btn-success">Create New</a>
	</p>
	<table class="table">
		<thead>
			<tr>
				<th>
				@Html.DisplayNameFor(model => model.Reparaciones[0].Descripcion)
				</th>
				<th>
				@Html.DisplayNameFor(model => model.Reparaciones[0].CostoEstimado)
				</th>
				<th>
				@Html.DisplayNameFor(model => model.Reparaciones[0].VehiculoId)
				</th>
				
				
				<th>Actions</th>
			</tr>
		</thead>
	<tbody>
	
				@foreach (var item in Model.Reparaciones)
		{
							<tr>
								<td>
					@Html.DisplayFor(modelItem => item.Descripcion)
								</td>
								<td>
					@Html.DisplayFor(modelItem => item.CostoEstimado)
								</td>
										<td>
					@Html.DisplayFor(modelItem => item.VehiculoId)
										</td>
				
								<td>
									<a a asp-page="./Edit" asp-route-id="@item.Id" class= "btn btn-warning">Edit</a>
									<a a asp-page="./Delete" asp-route-id="@item.Id" class= "btn btn-danger">Delete</a>
								</td>

							</tr>
		}
		</tbody>
	</table>