@page
@model AutoShopManager.Pages.Citas.IndexModel
@{
	ViewData["Title"] = "Index Citas";
}
	<h1>Index Citas</h1>
	<p>
		<a asp-page="Create" class="btn btn-success">Create New</a>
	</p>
	<table class="table">
		<thead>
			<tr>
				<th>
				@Html.DisplayNameFor(model => model.Citas[0].Cliente)
				</th>
				<th>
				@Html.DisplayNameFor(model => model.Citas[0].Descripcion)
				</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
		@foreach (var item in Model.Citas)
			{
					<tr>
						<td>
					@Html.DisplayFor(modelItem => item.Cliente)
						</td>
						<td>
					@Html.DisplayFor(modelItem => item.Descripcion)
						</td>
						<td>
							<a a asp-page="./Edit" asp-route-id="@item.Id" class= "btn btn-warning">Edit</a>
							<a a asp-page="./Delete" asp-route-id="@item.Id" class= "btn btn-danger">Delete</a>
						</td>

					</tr>
			}
		</tbody>
	</table>
